header {
  background-color: rgba(242, 245, 77, 0.925);
  margin-bottom: 1rem;
}
header h1 {
  color: rgb(180, 31, 31);
  text-align: center;
  font-size: 3.7rem;
  padding: 2rem 0;
  text-decoration: underline rgb(16, 157, 175);
  font-family: "Rampart One", cursive;
  text-shadow: rgb(0, 0, 0) 0 0 1px;
}
.information-app {
  background-color: rgba(17, 16, 16, 0.692);
  width: 70%;
  border-radius: 3px;
  box-shadow: rgb(252, 251, 251) 0 0 3px;
  margin-bottom: 1.5rem;
  padding: 20px;
  font-weight: 500;
  color: rgb(168, 165, 165);
}
.span-btn {
  margin: 1rem 0;
}
